.page{
  background-color: #2A2C2F;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: black;
  padding: 0;
  margin: 0 auto;
  min-width: 100%;
}

.section-width{
  width: 90%;
  margin: auto;
}

.section-width-l{
  width: 100%;
  margin: auto;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}


.header__about-link{
  text-decoration: none;
  color: black;
}

.header__about-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.header__about-item{
  margin-right: 20px;
}

.header__about-item:last-of-type{
  margin-right: 0;
}

.logo{
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 183px;
  height: 35px;
}

.content__title{
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
}

.slider__img{
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.about__paragraph{
  margin: 50px 0;
  width: 60%;
}

.about__button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
}

.footer{
  border-top: 1px solid black;
  margin-top: 50px;
  padding-bottom: 20px;
}
.slider{
  min-width: 0;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider{
  position: relative;
}
.slider .slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  width: 20px;
  height: 40px;
  border: none;
}

.slider .slick-arrow.slick-prev{
  left: 20px;
  background: url('../images/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
  right: 20px;
  background: url('../images/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}