.page{
  background-color: #2A2C2F;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: black;
  padding: 0;
  margin: 0 auto;
  min-width: 100%;
}

.section-width{
  width: 90%;
  margin: auto;
}

.section-width-l{
  width: 100%;
  margin: auto;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  /*border-bottom: 1px solid black*/;
}


.header__about-link{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header__about-link:hover{
  opacity: .5;
}

.header__about-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__about-item{
  margin-right: 20px;
}

.header__about-item:last-of-type{
  margin-right: 0;
}

.logo{
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 183px;
  height: 60px;
}

.content__title{
  font-size: 40px;
  text-align: center;
  margin: 0 0 20px;
  color: white;
}

.content__title_place_content{
  color: #f6da73;
}

.slider__img{
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.about{
  background-color: #f6da73;
  padding: 30px 33px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__paragraph{
  margin: 50px 0;
  width: 60%;
}

.about__button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color:  #f6da73;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
}

.about__button:hover{
  background-color: white;
}

.footer{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer__column-link{
  text-decoration: none;
  color: black;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link:hover {
  opacity: .5;
  transition: .3s;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  margin:0 0 20px;
}

.footer__column-links{
  padding: 0px;
  margin: 20px 0 16px;
  list-style-type: none;
 }

 .footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-icon:hover {
  opacity: .5;
  transition: .3s;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  width: 100%;
  justify-content: space-between;
}

.cards__image{
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0px 40px 20px;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.slider{
  min-width: 0;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider{
  position: relative;
}
.slider .slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  width: 20px;
  height: 40px;
  border: none;
}

.slider .slick-arrow.slick-prev{
  left: 20px;
  background: url('../images/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
  right: 20px;
  background: url('../images/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.2s linear;
  z-index: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__escape{
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 1px;
  right: 26px;
}

.popup__escape:hover{
  opacity: .6;
  transition: opacity 1s linear;
}


.popup__container{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -25%);  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing:  border-box;
  z-index: 2;
}

.popup__video{

}

.popup__video-iframe{
  width: 80vw;
  height: 80vh;
  border: none;
}